<div class="row text-nowrap">
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="card-icon mb-3">
                    <div class="avatar">
                        <div class="avatar-initial rounded bg-label-primary">
                            <i class="ti ti-currency-dollar ti-md"></i>
                        </div>
                    </div>
                </div>
                <div class="card-info">
                    <h4 class="card-title mb-3">Bu Ayki Kazanç</h4>
                    <div class="d-flex align-items-baseline mb-1 gap-1">
                        <h4 class="text-primary mb-0">$2345</h4>
                        <p class="mb-0">Credit Left</p>
                    </div>
                    <p class="text-muted mb-0 text-truncate">Account balance for next purchase</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="card-icon mb-3">
                    <div class="avatar">
                        <div class="avatar-initial rounded bg-label-success">
                            <i class="ti ti-gift ti-md"></i>
                        </div>
                    </div>
                </div>
                <div class="card-info">
                    <h4 class="card-title mb-3">Toplam Kazanç</h4>
                    <span class="badge bg-label-success mb-2">Platinum member</span>
                    <p class="text-muted mb-0">3000 points to next tier</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="card-icon mb-3">
                    <div class="avatar">
                        <div class="avatar-initial rounded bg-label-info">
                            <i class="ti ti-discount ti-md"></i>
                        </div>
                    </div>
                </div>
                <div class="card-info">
                    <h4 class="card-title mb-3">Mağaza Puanı</h4>
                    <div class="d-flex align-items-baseline mb-1 gap-1">
                        <h4 class="text-info mb-0">21</h4>
                        <p class="mb-0">Coupons you win</p>
                    </div>

                    <p class="text-muted mb-0 text-truncate">Use coupon on next purchase</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="card-icon mb-3">
                    <div class="avatar">
                        <div class="avatar-initial rounded bg-label-warning">
                            <i class="ti ti-star ti-md"></i>
                        </div>
                    </div>
                </div>
                <div class="card-info">
                    <h4 class="card-title mb-3">Aktif Ürün Sayısı</h4>
                    <div class="d-flex align-items-baseline mb-1 gap-1">
                        <h4 class="text-warning mb-0">15</h4>
                        <p class="mb-0">Items in wishlist</p>
                    </div>
                    <p class="text-muted mb-0 text-truncate">Receive notification when items go on sale</p>
                </div>
            </div>
        </div>
    </div>
</div>
