<!-- Organize Card -->
<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title mb-0">Organize</h5>
    </div>
    <div class="card-body">
        <!-- Vendor -->
        <div class="mb-3 col ecommerce-select2-dropdown">
            <label class="form-label mb-1" for="vendor"> Seller </label>
            <select id="vendor" class="select2 form-select select2-hidden-accessible" data-placeholder="Select Vendor" data-select2-id="vendor" tabindex="-1" aria-hidden="true">
                <option value="" data-select2-id="6">Select Vendor</option>
                <option value="men-clothing">Men's Clothing</option>
                <option value="women-clothing">Women's-clothing</option>
                <option value="kid-clothing">Kid's-clothing</option>
            </select>
        </div>
        <div class="mb-3 col ecommerce-select2-dropdown">
            <label class="form-label mb-1" for="vendor"> Brand </label>
            <select id="vendor" class="select2 form-select select2-hidden-accessible" data-placeholder="Select Vendor" data-select2-id="vendor" tabindex="-1" aria-hidden="true">
                <option value="" data-select2-id="6">Select Vendor</option>
                <option value="men-clothing">Men's Clothing</option>
                <option value="women-clothing">Women's-clothing</option>
                <option value="kid-clothing">Kid's-clothing</option>
            </select>
        </div>
        <!-- Category -->
        <div class="mb-3 col ecommerce-select2-dropdown">
            <label class="form-label mb-1 d-flex justify-content-between align-items-center" for="category-org">
                <span>Category</span>
            </label>
            <select id="vendor" class="select2 form-select select2-hidden-accessible" data-placeholder="Select Vendor" data-select2-id="vendor" tabindex="-1" aria-hidden="true">
                <option value="" data-select2-id="6">Select Vendor</option>
                <option value="men-clothing">Men's Clothing</option>
                <option value="women-clothing">Women's-clothing</option>
                <option value="kid-clothing">Kid's-clothing</option>
            </select>
        </div>
        <!-- Collection -->
        <div class="mb-3 col ecommerce-select2-dropdown">
            <label class="form-label mb-1" for="collection">Cinsiyet </label>
            <select id="vendor" class="select2 form-select select2-hidden-accessible" data-placeholder="Select Vendor" data-select2-id="vendor" tabindex="-1" aria-hidden="true">
                <option value="" data-select2-id="6">Select Vendor</option>
                <option value="men-clothing">Men's Clothing</option>
                <option value="women-clothing">Women's-clothing</option>
                <option value="kid-clothing">Kid's-clothing</option>
            </select>
        </div>

    </div>
</div>
<!-- /Organize Card -->
