<!-- Inventory -->
<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title mb-0">Pricing</h5>
    </div>
    <div class="card-body">
        <!-- Base Price -->
        <div class="mb-3">
            <label class="form-label" for="ecommerce-product-price">Base Price</label>
            <input type="number" class="form-control" id="ecommerce-product-price" placeholder="Price" name="productPrice" aria-label="Product price">
        </div>
        <!-- Discounted Price -->
        <div class="mb-3">
            <label class="form-label" for="ecommerce-product-discount-price">Discounted Price</label>
            <input type="number" class="form-control" id="ecommerce-product-discount-price" placeholder="Discounted Price" name="productDiscountedPrice" aria-label="Product discounted price">
        </div>
        <!-- Discounted Price -->
        <div class="mb-3">
            <label class="form-label" for="ecommerce-product-discount-price">Stok</label>
            <input type="number" class="form-control" id="ecommerce-product-discount-price" placeholder="Discounted Price" name="productDiscountedPrice" aria-label="Product discounted price">
        </div>


    </div>
</div>
<!-- /Inventory -->
