<!-- Media -->
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0 card-title">Media</h5>
        <a href="javascript:void(0);" class="fw-medium">Add media from URL</a>
    </div>
    <div class="card-body">
        <form action="/upload" class="dropzone needsclick dz-clickable" id="dropzone-basic">
            <div class="dz-message needsclick">
                <p class="fs-4 note needsclick pt-3 mb-1">Drag and drop your image here</p>
                <p class="text-muted d-block fw-normal mb-2">or</p>
                <span class="note needsclick btn bg-label-primary d-inline" id="btnBrowse">Browse image</span>
            </div>

        </form>
    </div>
</div>
<!-- /Media -->
