<!-- Variants -->
<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title mb-0">Variants</h5>
    </div>
    <div class="card-body">
        <form class="form-repeater">
            <div data-repeater-list="group-a">
                <div data-repeater-item="">
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label class="form-label" for="form-repeater-1-1">Options</label>
                            <div class="position-relative"><select id="form-repeater-1-1" class="select2 form-select select2-hidden-accessible" data-placeholder="Size" data-select2-id="form-repeater-1-1" tabindex="-1" aria-hidden="true">
                                    <option value="" data-select2-id="2">Size</option>
                                    <option value="size">Size</option>
                                    <option value="color">Color</option>
                                    <option value="weight">Weight</option>
                                    <option value="smell">Smell</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 234.475px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-form-repeater-1-1-container"><span class="select2-selection__rendered" id="select2-form-repeater-1-1-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Size</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                        </div>

                        <div class="mb-3 col-8">
                            <label class="form-label invisible" for="form-repeater-1-2">Not visible</label>
                            <input type="number" id="form-repeater-1-2" class="form-control" placeholder="Enter size">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary waves-effect waves-light" data-repeater-create="">Add another option</button>
            </div>
        </form>
    </div>
</div>
<!-- /Variants -->
