<div class="card mb-4">
    <!-- Notifications -->
    <div class="card-header">
        <h5 class="card-title mb-1">Mağaza Bilgilerini</h5>
        <span>Müşterinin mağaza ve fatura bilgileri</span>
    </div>
    <div class="card-body">

        <form id="editUserForm" class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" onsubmit="return false" novalidate="novalidate">

            <div class="col-12 fv-plugins-icon-container">
                <label class="form-label">İşletme Adı</label>
                <input v-model="user.store.name" type="text" class="form-control" placeholder="john.doe.007">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-12 fv-plugins-icon-container">
                <label class="form-label">Adres</label>
                <input v-model="user.store.address" type="text" class="form-control" placeholder="john.doe.007">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-12 col-md-4">
                <label class="form-label" >Ülke</label>
                <input v-model="user.store.country" type="text"  class="form-control modal-edit-tax-id">
            </div>
            <div class="col-12 col-md-4">
                <label class="form-label" >İl</label>
                <input v-model="user.store.city" type="text"  class="form-control modal-edit-tax-id">

            </div>
            <div class="col-12 col-md-4">
                <label class="form-label">İlçe</label>
                <input v-model="user.store.district" type="text"  class="form-control modal-edit-tax-id">
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label" >Email</label>
                <input v-model="user.store.email" type="text"  class="form-control modal-edit-tax-id">
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label">Telefon</label>
                <div class="input-group">
                    <span class="input-group-text">TR (+90)</span>
                    <input v-model="user.store.telephone" type="text"  class="form-control modal-edit-tax-id">                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label">Vergi Dairesi</label>
                <input v-model="user.store.tax_office" type="text" class="form-control modal-edit-tax-id" placeholder="123 456 7890">
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label">Vergi No</label>
                <input v-model="user.store.tax_number" type="text" class="form-control modal-edit-tax-id" placeholder="123 456 7890">
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label">Mağaza Durumu</label>
                <select v-model="user.store.status"  class="form-select">
                    <option>Default select</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>


        </form>

    </div>
    <!-- /Notifications -->
</div>

