<div class="card mb-4">
    <h5 class="card-header">Change Password</h5>
    <div class="card-body">
        <form id="formChangePassword" method="POST" onsubmit="return false" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
            <div class="alert alert-warning" role="alert">
                <h6 class="alert-heading mb-1">Ensure that these requirements are met</h6>
                <span>Minimum 8 characters long, uppercase &amp; symbol</span>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary me-2 waves-effect waves-light">Eposta Gönder</button> <button type="submit" class="btn btn-primary me-2 waves-effect waves-light">SMS Gönder</button>
                </div>
            </div>
            <input type="hidden"></form>
    </div>
</div>
